#include "resources.h"

IDD_EDIT_HEADER DIALOGEX 0, 0, 350, 206
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_POPUPWINDOW
FONT 8, "MS Shell Dlg"
CAPTION "Change Header Properties"
{
	COMBOBOX 20, 10, 10, 100, 100, CBS_DROPDOWNLIST|WS_TABSTOP|WS_VSCROLL
	LTEXT "Background Color", 10, 120, 12, 65, 9
	COMBOBOX 40, 10, 26, 150, 100, CBS_DROPDOWNLIST|WS_TABSTOP|WS_VSCROLL
	LTEXT "Layer 1 Tileset", 30, 170, 28, 65, 9
	COMBOBOX 41, 230, 26, 50, 100, CBS_DROPDOWNLIST|WS_TABSTOP|WS_VSCROLL
	LTEXT "Layer 1 Palette", 31, 290, 28, 65, 9
	COMBOBOX 42, 10, 42, 150, 100, CBS_DROPDOWNLIST|WS_TABSTOP|WS_VSCROLL
	LTEXT "Layer 2 Tileset", 32, 170, 44, 65, 9
	COMBOBOX 43, 230, 42, 50, 100, CBS_DROPDOWNLIST|WS_TABSTOP|WS_VSCROLL
	LTEXT "Layer 2 Palette", 33, 290, 44, 65, 9
	COMBOBOX 44, 10, 58, 150, 100, CBS_DROPDOWNLIST|WS_TABSTOP|WS_VSCROLL
	LTEXT "Layer 3 Tileset", 34, 170, 60, 65, 9
	COMBOBOX 45, 230, 58, 50, 100, CBS_DROPDOWNLIST|WS_TABSTOP|WS_VSCROLL
	LTEXT "Layer 3 Palette", 35, 290, 60, 65, 9
	COMBOBOX 46, 10, 74, 150, 100, CBS_DROPDOWNLIST|WS_TABSTOP|WS_VSCROLL
	LTEXT "Sprite Tileset", 36, 170, 76, 65, 9
	COMBOBOX 47, 230, 74, 50, 100, CBS_DROPDOWNLIST|WS_TABSTOP|WS_VSCROLL
	LTEXT "Sprite Palette", 37, 290, 76, 65, 9
	COMBOBOX 48, 10, 90, 150, 100, CBS_DROPDOWNLIST|WS_TABSTOP|WS_VSCROLL
	LTEXT "Animation Tileset", 38, 170, 92, 65, 9
	COMBOBOX 49, 230, 90, 50, 100, CBS_DROPDOWNLIST|WS_TABSTOP|WS_VSCROLL
	LTEXT "Animation Palette", 39, 290, 92, 65, 9
	COMBOBOX 21, 10, 106, 100, 100, CBS_DROPDOWNLIST|WS_TABSTOP|WS_VSCROLL
	LTEXT "Level Mode", 11, 120, 108, 65, 9
	COMBOBOX 22, 10, 122, 100, 100, CBS_DROPDOWNLIST|WS_TABSTOP|WS_VSCROLL
	LTEXT "BG Scroll Rate", 12, 120, 124, 65, 9
	COMBOBOX 23, 10, 138, 100, 100, CBS_DROPDOWNLIST|WS_TABSTOP|WS_VSCROLL
	LTEXT "Music", 13, 120, 140, 65, 9
	COMBOBOX 24, 10, 154, 100, 100, CBS_DROPDOWNLIST|WS_TABSTOP|WS_VSCROLL
	LTEXT "Item Memory", 14, 120, 156, 65, 9
	//Buttons to accept/cancel
	PUSHBUTTON "OK", IDOK, 250, 182, 40, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 300, 182, 40, 14, WS_TABSTOP
}

