#include "resources.h"

IDD_EDIT_ENTRANCE2 DIALOGEX 0, 0, 130, 78
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_POPUPWINDOW
FONT 8, "MS Shell Dlg"
CAPTION "Edit Midway Entrance"
{
	EDITTEXT 23, 10, 10, 50, 14, ES_UPPERCASE|WS_TABSTOP
	LTEXT "X Position (00-FF)", 13, 70, 12, 55, 9
	EDITTEXT 24, 10, 26, 50, 14, ES_UPPERCASE|WS_TABSTOP
	LTEXT "Y Position (00-7F)", 14, 70, 28, 55, 9
	//Buttons to accept/cancel
	PUSHBUTTON "OK", IDOK, 30, 54, 40, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 80, 54, 40, 14, WS_TABSTOP
}

