#include "resources.h"

IDD_EDIT_ENTRANCE DIALOGEX 0, 0, 270, 116
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_POPUPWINDOW
FONT 8, "MS Shell Dlg"
CAPTION "Edit Main Entrances"
{
	COMBOBOX 20, 10, 10, 100, 100, CBS_DROPDOWNLIST|WS_TABSTOP|WS_VSCROLL
	LTEXT "Level entrance to edit", 10, 120, 12, 100, 9
	GROUPBOX "Main Entrance Settings", 30, 10, 26, 250, 50
	EDITTEXT 21, 20, 38, 50, 14, ES_UPPERCASE|WS_TABSTOP
	LTEXT "Level ID", 11, 80, 40, 40, 9
	COMBOBOX 22, 130, 38, 70, 100, CBS_DROPDOWNLIST|WS_TABSTOP|WS_VSCROLL
	LTEXT "Action", 12, 210, 40, 40, 9
	EDITTEXT 23, 20, 54, 50, 14, ES_UPPERCASE|WS_TABSTOP
	LTEXT "X Position", 13, 80, 56, 50, 9
	EDITTEXT 24, 140, 54, 50, 14, ES_UPPERCASE|WS_TABSTOP
	LTEXT "Y Position", 14, 200, 56, 50, 9
	//Buttons to accept/cancel
	PUSHBUTTON "OK", IDOK, 150, 92, 50, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 210, 92, 50, 14, WS_TABSTOP
}

