#include "resources.h"

IDD_EDIT_EXIT DIALOGEX 0, 0, 270, 148
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_POPUPWINDOW
FONT 8, "MS Shell Dlg"
CAPTION "Edit Screen Exits"
{
	COMBOBOX 20, 10, 10, 100, 100, CBS_DROPDOWNLIST|WS_TABSTOP|WS_VSCROLL
	LTEXT "Screen exit to edit", 10, 120, 12, 100, 9
	GROUPBOX "Screen Exit Settings", 30, 10, 26, 250, 82
	CHECKBOX "Enable Screen Exit", 25, 20, 38, 100, 14, BS_CHECKBOX|WS_TABSTOP
	EDITTEXT 21, 20, 54, 50, 14, ES_UPPERCASE|WS_TABSTOP
	LTEXT "Level ID (00-DD)", 11, 80, 56, 55, 9
	COMBOBOX 22, 20, 70, 150, 100, CBS_DROPDOWNLIST|WS_TABSTOP|WS_VSCROLL
	LTEXT "Action/Minigame ID", 12, 180, 72, 75, 9
	EDITTEXT 23, 20, 86, 50, 14, ES_UPPERCASE|WS_TABSTOP
	LTEXT "X Position (00-FF)", 13, 80, 88, 55, 9
	EDITTEXT 24, 140, 86, 50, 14, ES_UPPERCASE|WS_TABSTOP
	LTEXT "Y Position (00-7F)", 14, 200, 88, 55, 9
	//Buttons to accept/cancel
	PUSHBUTTON "OK", IDOK, 150, 124, 50, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 210, 124, 50, 14, WS_TABSTOP
}

