#include "resources.h"

IDD_EDIT_LEV_NAME DIALOGEX 0, 0, 290, 164
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_POPUPWINDOW
FONT 8, "MS Shell Dlg"
CAPTION "Edit Level Names"
{
	COMBOBOX 20, 10, 10, 100, 100, CBS_DROPDOWNLIST|WS_TABSTOP|WS_VSCROLL
	LTEXT "Name to edit", 10, 120, 12, 100, 9
	EDITTEXT 25, 10, 26, 270, 100, ES_MULTILINE|ES_WANTRETURN|ES_AUTOHSCROLL|ES_AUTOVSCROLL|WS_HSCROLL|WS_VSCROLL|WS_TABSTOP
	//Buttons to accept/cancel
	PUSHBUTTON "OK", IDOK, 170, 140, 50, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 230, 140, 50, 14, WS_TABSTOP
}

