#include "resources.h"

IDM_MENU_MAIN MENU
{
	POPUP "File"
	{
		MENUITEM "Open\tCtrl+O", 1000
		MENUITEM "Close\tCtrl+W", 1001, GRAYED
		MENUITEM "Save\tCtrl+S", 1002, GRAYED
		MENUITEM "Save As\tCtrl+Shift+S", 1003, GRAYED
		MENUITEM "Quit\tCtrl+Q", 1004
		MENUITEM SEPARATOR
		MENUITEM "Import Level", 1010, GRAYED
		MENUITEM "Export Level", 1011, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Open Level By ID\tAlt+O", 1020, GRAYED
		MENUITEM "Next Level\tPg Up", 1021, GRAYED
		MENUITEM "Previous Level\tPg Down", 1022, GRAYED
	}
	POPUP "Edit"
	{
		MENUITEM "Objects\tQ", 1100, CHECKED, GRAYED
		MENUITEM "Sprites\tW", 1101, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Increase Z\t=", 1110, GRAYED
		MENUITEM "Decrease Z\t-", 1111, GRAYED
	}
	POPUP "View"
	{
		MENUITEM "Objects\t1", 1200, CHECKED, GRAYED
		MENUITEM "Sprites\t2", 1201, CHECKED, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Entrances\tF1", 1210, CHECKED, GRAYED
		MENUITEM "Exits\tF2", 1211, GRAYED
		MENUITEM "Grid\tF4", 1212, GRAYED
		MENUITEM "Animation\tF6", 1213, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "World 6\tF7", 1220, GRAYED
		MENUITEM "[!] Blocks Active\tF8", 1221, GRAYED
		MENUITEM "Egg Blocks Active\tF9", 1222, GRAYED
	}
	POPUP "Tools"
	{
		MENUITEM "Edit Main Entrances", 1300, GRAYED
		MENUITEM "Edit Midway Entrance", 1301, GRAYED
		MENUITEM "Edit Screen Exits", 1302, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Edit Header Properties", 1310, GRAYED
		MENUITEM "Edit Level Names", 1311, GRAYED
		MENUITEM "Edit Level Messages", 1312, GRAYED
	}
	POPUP "Window"
	{
		MENUITEM "Select Object\tA", 1400, GRAYED
		MENUITEM "Select Sprite\tS", 1401, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "View 8x8 Tiles", 1410, GRAYED
		MENUITEM "View 16x16 Tiles", 1411, GRAYED
		MENUITEM "View Palette", 1412, GRAYED
		MENUITEM "View Background", 1413, GRAYED
	}
}

IDA_MENU_MAIN ACCELERATORS
{
	//File
	"O", 1000, VIRTKEY, CONTROL
	"W", 1001, VIRTKEY, CONTROL
	"S", 1002, VIRTKEY, CONTROL
	"S", 1003, VIRTKEY, CONTROL, SHIFT
	"Q", 1004, VIRTKEY, CONTROL
	"O", 1020, VIRTKEY, ALT
	VK_PRIOR, 1021, VIRTKEY
	VK_NEXT, 1022, VIRTKEY
	//Edit
	"Q", 1100, VIRTKEY
	"W", 1101, VIRTKEY
	VK_OEM_PLUS, 1110, VIRTKEY
	VK_OEM_MINUS, 1111, VIRTKEY
	//View
	"1", 1200, VIRTKEY
	"2", 1201, VIRTKEY
	VK_F1, 1210, VIRTKEY
	VK_F2, 1211, VIRTKEY
	VK_F4, 1212, VIRTKEY
	VK_F6, 1213, VIRTKEY
	VK_F7, 1220, VIRTKEY
	VK_F8, 1221, VIRTKEY
	VK_F9, 1222, VIRTKEY
	//Window
	"A", 1400, VIRTKEY
	"S", 1401, VIRTKEY
}

