#include "../resources.h"

#ifdef YI_4MB_MODE
IDR_PATCH_BPS RCDATA "resources/patches/old/v100_4mb.bps"
IDR_MANIFEST_XML RCDATA "resources/patches/yi_4mb.xml"
IDR_MANIFEST_BML RCDATA "resources/patches/yi_4mb.bml"
#else
IDR_PATCH_BPS RCDATA "resources/patches/old/v100_8mb.bps"
IDR_MANIFEST_XML RCDATA "resources/patches/yi_8mb.xml"
IDR_MANIFEST_BML RCDATA "resources/patches/yi_8mb.bml"
#endif

